:root {

  --ligth-green: #183334;

  --dark-green: #122526;

  --btn-green: #22a663;

  --btn-green-hover: #24b06a;

  --title-color: #c7a659;

  --title-shadow: #4f4120d9;

  --header-color: #b30000;

  --areas-card: #8686866d;

  --h1-card: #c7a6591c;

  --box-shadow: #0000008c;

  --background-color: #000000a6;
}

.home:before {
  background-image: url('../images/home_background.png');
  background-position: -300px center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  filter: blur(2px);
  inset: 0;
  position: absolute;
  z-index: -1;
}

.home {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 93vh;
  justify-content: center;
}

.home_title {
  font-size: 18vw;
  text-shadow: 2px 2px 2px var(--title-shadow);
}

.home_subtitle {
  color: var(--title-color);
  font-size: 3.5vw;
  font-weight: 400;
  letter-spacing: 6px;
  text-transform: uppercase;
}

@media ( min-width : 481px ) {

  .home:before {
    background-position: center;
  }

  .home_title {
    font-size: 17vw;
  }

  .home_subtitle {
    font-size: 3vw;
  }
}

@media ( min-width : 769px ) {
  .home {
  height: 100vh;
  }

  .home_title {
    font-size: 15vw;
  }

  .home_subtitle {
    font-size: 2.5vw;
    letter-spacing: 8px;
  }
}

@media ( min-width : 1025px ) {

  .home_title {
    font-size: 12.8vw;
  }

  .home_subtitle {
    font-size: 2.5vw;
  }
}

/* @media ( min-width : 1201px ) {
} */
